---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from "../components/Services.astro"
import Process from '../components/Process.astro'
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';
import Case from '../components/Case.astro';
---

<Layout title="Web Wise Studio">
	<main class="space-y-20">
		<Hero/>
		<Services/>
		<Case/>
		<Process/>
		<Testimonial/>
		<Contact/>
	</main>
</Layout>