---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-5xl font-medium leading-none md:text-6xl max-w-[700px] capitalize">Drive Success for your business with guaranteed high ticket leads</h1>
            <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12">Our agency guarantees high-ticket leads for your business, propelling you to new heights of online growth and success.</p>
            <div class="pt-2">
                <a class="px-9 py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex" rel="noopener noreferrer"  href="https://calendly.com/ejr2057" target="_blank">
                    <h2 class="text-center text-xl font-normal leading-7">Book a consultation</h2>
                </a>
            </div>
            
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <img src="/Hero.svg" width="100%" alt="Hero"/>
    </div>
</div>

<div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/unnamed.png" class="h-20 w-20 mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/2.jpg" class="h-24 w-24 mx-auto" loading="lazy" alt="client logo" width="56" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/03.svg" class="h-24 w-24 mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/04.svg" class="h-24 w-24 mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/7.avif"class="h-24 w-24 mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
    </div>
</div>
</Container>