---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
import TestimonialSlider from "./Slider.astro"
---

<Container>
  <div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonials" description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Lead Generation Services" />
  </div>

  <TestimonialSlider />
</Container>
